# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Build output
dist/
build/

# TypeScript incremental compilation cache
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Benchmark results
results/*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker volumes
docker-volumes/

# Log files
*.log

.github/

# Database files
dump.rdb
nodes.conf
*.aof
appendonly.aof

# Docker & monitoring artifacts
docker-compose.override.yml
prometheus_data/
grafana_data/

# Runtime files
*.pid
*.sock

# Temporary files
tmp/
temp/
.tmp/
*.tmp


# Test files
test-results/

result_*.json
*.conf
package-lock.json
